@model List<WebMenu.List>




<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDropdown"
        aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="col-md-12 nopadding header-nav-bar">
    <div class="collapse navbar-collapse" id="navbarDropdown">
        <ul id="menu-menu-1" class="navbar-nav mr-auto mt-lg-0 ">
            @foreach (WebMenu.List item in Model)
            {
                if (item.IsChild == "Y")
                {
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item nav-item nav-item-29 ">
                        <a class="nav-link" target="@item.Target" href="@item.MenuURL">
                            @item.MenuName

                            @if (!string.IsNullOrEmpty(item.DocURL))
                            {
                                <img src="@item.DocURL" alt="@item.MenuName">
                            }
                        </a>
                        <ul class="dropdown-menu depth_0">
                            @foreach (WebMenu.List item2 in item.ChildMenuList)
                            {
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item nav-item nav-item-29 ">
                                    <a class="dropdown-item" target="@item2.Target" href="@item2.MenuURL">
                                        @item2.MenuName

                                        @if (!string.IsNullOrEmpty(item2.DocURL))
                                        {
                                            <img src="@item2.DocURL" alt="@item2.MenuName">
                                        }
                                    </a>
                                </li>

                            }
                        </ul>
                    </li>
                }
                else
                {
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item nav-item nav-item-29  ">
                        <a target="@item.Target" href="@item.MenuURL" class="nav-link">
                            @item.MenuName

                            @if (!string.IsNullOrEmpty(item.DocURL))
                            {
                                <img src="@item.DocURL" alt="@item.MenuName">
                            }
                        </a>
                    </li>
                }



            }
        </ul>
    </div>
</div>

