
@model IList<BlogCategory.Admin.List>

@{
    string DesignKey = "design" + clsApplicationSetting.GetWebConfigValue("DesignKey") + "/";
    string Prefix = "/Areas/Admin/assets/";
}

@section style{
    @Html.IncludeVersionedCss(Url.Content(Prefix + "vendors/datatables/dataTables.bootstrap4.min.css"))
    @Html.IncludeVersionedCss(Url.Content(Prefix + "vendors/datatables/buttons.bootstrap4.min.css"))
    @Html.IncludeVersionedCss(Url.Content(Prefix + "vendors/datatables/responsive.bootstrap4.min.css"))
}

<div>
    @Html.Partial("ListHeader_Partial", "Blog Category List")



    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card p-0">
                <div class="card-body p-0">

                    <div class="x_content table-currency">
                        <input type="hidden" id="hdnAddUrl" name="hdnAddUrl" value="@Url.Action("BlogCategoryAdd",new { src = clsCommon.Encrypt(ViewBag.MenuID+"*"+"/Admin/Blog/BlogCategoryAdd"+"*"+"0") })" />

                        <div class="table-responsive">
                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap tbltick new_width" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>S.no.</th>
                                        <th>Action</th>
                                        <th>Priority</th>
                                        <th>Image</th>
                                        <th>Category Name</th>
                                        <th>Category URL</th>
                                        <th>Category Desc</th>
                                        <th>Inserted Date</th>
                                        <th>Updated Date</th>
                                        <th>IP Address</th>
                                    </tr>
                                    <tr class="searchbar">
                                        <th class="searchhide"></th>
                                        <th class="searchhide"></th>
                                        <th class="searchhide"></th>
                                        <th class="searchhide"></th>
                                        <th></th>

                                        <th></th>
                                        <th></th>
                                        <th> </th>
                                        <th> </th>
                                        <th></th>

                                    </tr>

                                </thead>
                                <tbody>
                                    @{ int Count = 0;}
                                    @foreach (BlogCategory.Admin.List item in Model)
                                    {
                                        Count++;
                                    <tr class="@(item.IsActive == true?"": "trrowred")">
                                        <td>@Count</td>
                                        <td>
                                            <input type="hidden" name="I" value="@item.BlogCategoryID" />
                                            <input type="hidden" name="N" value="@item.CategoryName" />

                                            @if (clsApplicationSetting.GetSessionValue("Modify") == "True")
                                            {
                                                @Html.Raw(item.IsActive == true
                                               ? "<a  data-toggle='tooltip' data-original-title='Click to DeActivate' list='BlogCategory_IsActive' OP='0' class='AIsActive' > <i class='fa fa-check-circle checkgreen' aria-hidden='true'></i></a>"
                                               : "<a data-toggle='tooltip' data-original-title='Click to Activate' list='BlogCategory_IsActive' OP='1'  class='AIsActive' > <i class='fa fa-times-circle crossred' aria-hidden='true'></i></a>")

                                                <a title="Edit" href="@Url.Action("BlogCategoryAdd", new { src = clsCommon.Encrypt(ViewBag.MenuID + "*" + "/Admin/Blog/BlogCategoryAdd" + "*" + item.BlogCategoryID) })" data-toggle='tooltip'> <i class="fa fa-pencil-square-o checkgreen" aria-hidden="true"></i></a>
                                            }

                                        </td>
                                        <td>

                                            @Html.Raw(clsApplicationSetting.GetSessionValue("Modify") == "True" ? "<input type='number' class='BlogCategory_Priority' list='BlogCategoryList' value=\"" + item.Priority + "\" />" : item.Priority.ToString())
                                        </td>


                                        <td>
                                            <img src="@item.CategoryDocURL" class="Listimage" />

                                        </td>
                                        <td>@item.CategoryName</td>
                                        <td> @item.CategoryURL</td>
                                        <td> @item.CategoryDesc</td>

                                        <td>@item.createdat</td>
                                        <td>@item.modifiedat</td>
                                        <td>@item.IPAddress</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


@section scripts    {
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/jquery.dataTables.min.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/dataTables.bootstrap4.min.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/dataTables.buttons.min.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/buttons.bootstrap4.min.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/jszip.min.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/pdfmake.min.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/vfs_fonts.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/buttons.html5.min.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/buttons.print.min.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/buttons.colVis.min.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "scripts/ListSetting.js"))



    <script>

     

    </script>
}
