
@model IList<AdminUser.Role.List>


@{
    string DesignKey = "design" + clsApplicationSetting.GetWebConfigValue("DesignKey") + "/";
    string Prefix = "/Areas/Admin/assets/";
}

@section style{
    @Html.IncludeVersionedCss(Url.Content(Prefix + "vendors/datatables/dataTables.bootstrap4.min.css"))
    @Html.IncludeVersionedCss(Url.Content(Prefix + "vendors/datatables/buttons.bootstrap4.min.css"))
    @Html.IncludeVersionedCss(Url.Content(Prefix + "vendors/datatables/responsive.bootstrap4.min.css"))
}
<div>
    @Html.Partial("ListHeader_Partial", "Role List")



    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card p-0">
                <div class="card-body p-0">

                    <div class="x_content table-currency">

                        <div class="table-responsive">
                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap tbltick new_width" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>S.no.</th>
                                        <th>Action</th>
                                        <th>Role Name</th>
                                        <th>Role Description</th>
                                        <th>Inserted Date</th>
                                        <th>Updated Date</th>
                                        <th>IP Address</th>
                                    </tr>
                                    <tr class="searchbar">
                                        <th class="searchhide"></th>
                                        <th class="searchhide"></th>
                                        <th> </th>
                                        <th> </th>
                                        <th> </th>
                                        <th> </th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int Count = 0;}
                                    @foreach (AdminUser.Role.List item in Model)
                                    {
                                        Count++;
                                        <tr class="@(item.IsActive == true?"": "trrowred")">
                                            <td>@Count</td>
                                            <td>
                                                <input type="hidden" name="I" value="@item.ID" />
                                                <input type="hidden" name="N" value="@item.role_name" />
                                                @if (clsApplicationSetting.GetSessionValue("Modify") == "True")
                                                {
                                                    @Html.Raw(item.IsActive == true
                                 ? "<a  data-toggle='tooltip' data-original-title='Click to DeActivate' list='Role_Isactive' OP='0' class='AIsActive' > <i class='fa fa-check-circle checkgreen' aria-hidden='true'></i></a>"
                                 : "<a data-toggle='tooltip' data-original-title='Click to Activate' list='Role_Isactive' OP='1'  class='AIsActive' > <i class='fa fa-times-circle crossred' aria-hidden='true'></i></a>")

                                                    <a title="Edit" onclick="ListHeaderAdd(@item.ID);" data-toggle='tooltip'> <i class="fa fa-pencil-square-o checkgreen" aria-hidden="true"></i> </a>

                                                }
                                            </td>


                                            <td>
                                                @if (clsApplicationSetting.GetSessionValue("Modify") == "True")
                                                {
                                                    <strong>
                                                        <a class="green-clr" onclick="ShowLoadingDialog()" href="@Url.Action("RoleMenuManagement","/Tools", new { src = clsCommon.Encrypt(ViewBag.MenuID + "*" + "/Admin/Tools/RoleMenuManagement" + "*" + item.ID + "*" + item.role_name) })" data-toggle='tooltip'> @item.role_name </a>


                                                    </strong>
                                                }
                                                else
                                                {
                                                    @item.role_name
                                                }
                                            </td>
                                            <td>@item.description</td>
                                            <td>@item.createdat</td>
                                            <td>@item.modifiedat</td>
                                            <td>@item.IPAddress</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade pop-dgn" id="ViewModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <div class="modal-header blk-gdn-btn">
                <h4 class="modal-title"><i class="fas fa-print"></i>Add Role </h4>
                <div class="close" data-dismiss="modal">&times;</div>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div id="TagetDiv"></div>
            </div>
        </div>
    </div>
</div>


@section scripts    {

    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/jquery.dataTables.min.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/dataTables.bootstrap4.min.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/dataTables.buttons.min.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/buttons.bootstrap4.min.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/jszip.min.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/pdfmake.min.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/vfs_fonts.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/buttons.html5.min.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/buttons.print.min.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "vendors/datatables/buttons.colVis.min.js"))
    @Html.IncludeVersionedJs(Url.Content(Prefix + "scripts/ListSetting.js"))

    <script>



        function ListHeaderAdd(CMSID) {
            
        if (CMSID == undefined)
        {
            CMSID = 0;
        }
			$.ajax({
                url: "/Admin/Tools/_AddRole",
				type: "Get",
                data: { src: EncryptQueryStringJSON(@ViewBag.MenuID+"*" + "/Admin/Tools/_AddRole" + "*" + CMSID) },
                success: function (data)
                {
					$("#TagetDiv").empty();
                    $("#TagetDiv").html(data);

                    $('#ViewModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    });

                     var form = $("form")
                .removeData("validator")
                .removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse(form);
				},
				error: function (er) {
					alert(er);

				}
			});
            }


        function OnSuccess(obj) {
            if (obj.Status) {
                SuccessToaster(obj.SuccessMessage);
                window.location.href = obj.RedirectURL;
            }
            else {
                CloseLoadingDialog();
                FailToaster(obj.SuccessMessage);

            }
        }


    </script>
}

